<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>회원가입</title>

  </head>
  <body style="background: #FAFAFA;">
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        <div style="padding: 20px; text-align:center; border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 410px; margin-top: 30px; background: white;">
            <div style="padding-bottom:10px;"><img style="width: 150px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png?20160616034027" alt=""> </div>
            <div style="font-weight: bold; color: gray; padding-bottom: 20px;"> 친구들의 사진과 동영상을 보려면 가입하세요</div>
            <div> 
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" style="font-size: 14px; height: 24px;" id="input_email" placeholder="">
                    <label for="input_email" style="font-size: 14px; padding: 4px 10px;">이메일 주소</label>
                </div>
            </div>
            <div> 
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" style="font-size: 14px; height: 24px;" id="input_name" placeholder="">
                    <label for="input_name" style="font-size: 14px; padding: 4px 10px;">이름</label>
                </div>
            </div>
            <div> 
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" style="font-size: 14px; height: 24px;" id="input_nickname" placeholder="">
                    <label for="input_nickname" style="font-size: 14px; padding: 4px 10px;">닉네임</label>
                </div>
            </div>
            <div> 
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" style="font-size: 14px; height: 24px;" id="input_password" placeholder="">
                    <label for="input_password" style="font-size: 14px; padding: 4px 10px;">비밀번호</label>
                </div>
            </div>
            <button id="join_button" class="btn btn-primary" style="width:100%"> 가입 버튼</button>
        </div>
        <div style="padding: 20px; text-align:center; border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 70px; margin-top: 30px; background: white;">
            <div> 계정이 있으신가요? <a href="{% url 'login' %}">로그인</a> </div>
        </div>
    </div>



    <script>

    $('#join_button').click(function(){

      let email = $('#input_email').val();
      let nickname = $('#input_nickname').val();
      let name = $('#input_name').val();
      let password = $('#input_password').val();
      
    console.log(email, password, nickname, name);

    $.ajax({
        url: "/user/join/",
        data: {
            email: email,
            password: password,
            nickname : nickname,
            name: name
        },
        method: "POST",

        success: function (data){
          alert("회원가입 성공. 로그인")
          location.replace('/articles/main');
        },
        error : function (request, status, error){
          console.log('에러')
        },
        complete: function(){
          console.log("완료");
        }
      })
    });


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>